SummitService/SummitService.Tests/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4544/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4544/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4544/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Authorisation_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorisation" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorisationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSummit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSummit" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSummit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSummitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVariant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVariant" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVariant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVariantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVoice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVoice" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllVoices_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllVoices" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllVoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllVoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Summarizing_InputMessage">
    <wsdl:part name="parameters" element="tns:Summarizing" />
  </wsdl:message>
  <wsdl:message name="IService1_Summarizing_OutputMessage">
    <wsdl:part name="parameters" element="tns:SummarizingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCountryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Authorisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorisation" message="tns:IService1_Authorisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorisationResponse" message="tns:IService1_Authorisation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSummit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSummit" message="tns:IService1_AddSummit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSummitResponse" message="tns:IService1_AddSummit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCountry" message="tns:IService1_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCountryResponse" message="tns:IService1_AddCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVariant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddVariant" message="tns:IService1_AddVariant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddVariantResponse" message="tns:IService1_AddVariant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddVoice" message="tns:IService1_AddVoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddVoiceResponse" message="tns:IService1_AddVoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAllVoices" message="tns:IService1_DeleteAllVoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAllVoicesResponse" message="tns:IService1_DeleteAllVoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Summarizing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Summarizing" message="tns:IService1_Summarizing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SummarizingResponse" message="tns:IService1_Summarizing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCountry" message="tns:IService1_SelectCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCountryResponse" message="tns:IService1_SelectCountry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorisation">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSummit">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSummit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVariant">
      <soap:operation soapAction="http://tempuri.org/IService1/AddVariant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVoice">
      <soap:operation soapAction="http://tempuri.org/IService1/AddVoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllVoices">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAllVoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Summarizing">
      <soap:operation soapAction="http://tempuri.org/IService1/Summarizing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:4544/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>