SummitService/SummitService.Tests/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4544/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:4544/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SummitService" />
  <xs:element name="Authorisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AuthorisationResult" nillable="true" type="q1:Auth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSummit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="sum" nillable="true" type="q2:Summit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSummitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="AddSummitResult" nillable="true" type="q3:Summit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="cou" nillable="true" type="q4:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="AddCountryResult" nillable="true" type="q5:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVariant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="va" nillable="true" type="q6:Variant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVariantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="AddVariantResult" nillable="true" type="q7:Variant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="vo" nillable="true" type="q8:Voice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="AddVoiceResult" nillable="true" type="q9:Voice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllVoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllVoicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="SelectCountryResult" nillable="true" type="q10:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSummit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSummitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SummitService" minOccurs="0" name="SelectSummitResult" nillable="true" type="q11:ArrayOfSummit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>