SummitService/SummitService.Tests/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auth">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auth" nillable="true" type="tns:Auth" />
</xs:schema>