Client/Client/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auth">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auth" nillable="true" type="tns:Auth" />
  <xs:complexType name="Summit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summit_ID" type="xs:int" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summit" nillable="true" type="tns:Summit" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="Variant">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Variant" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="country_id" type="xs:int" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="summit_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="variant_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Variant" nillable="true" type="tns:Variant" />
  <xs:complexType name="Voice">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sum" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="variant_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Voice" nillable="true" type="tns:Voice" />
  <xs:complexType name="ArrayOfVoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voice" nillable="true" type="tns:Voice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoice" nillable="true" type="tns:ArrayOfVoice" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="ArrayOfSummit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Summit" nillable="true" type="tns:Summit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummit" nillable="true" type="tns:ArrayOfSummit" />
  <xs:complexType name="ArrayOfVariant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variant" nillable="true" type="tns:Variant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariant" nillable="true" type="tns:ArrayOfVariant" />
</xs:schema>